@import url('https://fonts.googleapis.com/css2?family=Caudex&family=Fuzzy+Bubbles:wght@400;700&family=Merienda:wght@400;700&family=Merriweather:wght@700&family=Noto+Serif&family=PT+Serif&family=Source+Serif+Pro:wght@400;600&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

/* header section */
header{
    height:13vh;
    width:100%;
}
nav{
    background: rgb(235, 220, 224);
    height:13vh;
    width:100%;
    display: flex;
    align-items: center;
}
.logo img{
    width: 50%;
   padding: 10%;
   border-radius: 40%;
   padding-top: 30px;
}
.list-items{
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: space-around;
}
.link{
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-weight: 600;
}
.link:hover{
    color:rgb(36, 138, 170);
    padding-right: 8px;
}
.nav-btns{
    width: 30%;
    font-size: 20px;
}
.btn-nav-i{
    color: rgb(157, 19, 84);
    float:right;
    padding-right: 20px;
    transition: 0.8s;
}
.btn-nav-i:hover{
    color: rgb(19, 132, 142);
}

/* about brand */
#brand{
    background-image: linear-gradient(rgb(191, 158, 177),rgb(255, 182, 239),rgb(179, 65, 152));
    text-align: center;
    padding: 1%;
}
#brand-title{
    color:rgb(165, 45, 11);
    text-transform: uppercase;
    font-family: 'Caudex', serif;
}
#b1{
    font-family: 'Fuzzy Bubbles', cursive;
    padding:0 10%;
}
#b2{
    font-family: 'Fuzzy Bubbles', cursive;
    padding:0 3%;
}

/* product section */
.product_section{
    background-color: rgb(206, 135, 206);
    margin: 0px;
    overflow: hidden;
    text-align: center;
    color: rgb(137, 35, 118);
    padding: 60px 0;
    font-family: 'Merriweather', serif;
   
}    
.prod_img{
    padding-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
.prod_img img{
    padding: 5px;
    
}
.prod_img img:hover{
    transform: scale(1.10,1.10);
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap:10px;
    padding: 10px;
    margin: 0;
    text-align: center;
}

/* feedback section */

#feedback-section{
    padding: 3% 0;
    background-image: url(img/bg.jpg);
    background-size: cover;
    color: #fff;
    text-align: center;
}
.fb-row{
    display: flex;
    flex-direction: row;
    

}

/* footer section */
footer {
    background-color: palevioletred;
	padding:20px 0;
	box-sizing: border-box;
}
.f-container{
    max-width: 1170px; 
    margin: auto;
}
.f-row{
    display: flex;
    flex-wrap: wrap;
}
.f-col{
    width:25%;
    padding: 0 15px;   
}
.f-col h4{
    font-size: 18px;
    color:rgb(83, 53, 14);
    margin-bottom: 10px;
    font-weight: 300;
    font-family: 'Source Serif Pro', serif;
    position: relative;
}
.f-col ul li a{
    font-size: 16px;
    color: #6e5f5f;
    text-decoration: none;
    font-weight: 600;
    display:block;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    
}
.f-col ul li a:hover{
    color:#fff;
    padding-left: 8px;
}
ul{
    list-style: none;
}
.f-col .social-links a{
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: rgb(100, 9, 104);
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
}


 

